:root {
    --color-background: #fafafa;
    --color-light: #fff;
    --color-text: #212121;
    --color-table-border: #e0e0e0;
    --color-input-border: #dadada;
    --color-background-hover: #f9f9f9;
}
